/*hiperlink*/
.napis {
	font-family: Impact, fantasy;
	position: relative;
  	text-align: center;
  	margin-top: 300px;
  	font-size: 30px;
}

a:hover, a:visited, a:link, a:active {
	color: black;
  	text-decoration: none;
}

body {
	background-size: 100% 100%;
	background-image: url("image/tlo.gif");
	background-repeat: no-repeat;
    background-attachment: fixed;
}
